* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    max-width: 1200px; /* This will limit the container width on large screens */
    margin: 0 auto; /* This centers the content and adds space on both sides */
}

header {
    background: #333;
    color: white;
    padding: 1rem 0;
}

header h1 {
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 2rem 0;
}

h2 {
    text-align: center;
    margin-bottom: 1rem;
}

ul {
    list-style: none;
    text-align: center;
}

ul li {
    display: inline-block;
    margin: 0 10px;
    padding: 5px 10px;
    background-color: #333;
    color: white;
    border-radius: 5px;
}

.project {
    background-color: #fff;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.project h3 {
    margin-bottom: 0.5rem;
}

footer {
    background-color: #333;
    color: white;
    padding: 1rem 0;
    text-align: center;
}
